<div class='container'>
  <div class='row'>
    <div class='col'></div>
    <div class='col-8 wrapper'>
      <div class="card-body">
        <div class='article-content'>
          <div class='article-header align-items-center d-flex'>
            <div class="title">
              {{(article$ | async).title}}
            </div>
            <div class="ml-auto creator">
              {{(article$ | async).creator}}
            </div>
            <div class="createdAt">
              08-10
            </div>
          </div>
          <div class='article-body'>
            {{(article$ | async).content}}
          </div>
          <div class='article-footer d-flex'>
            <a class='btn btn-outline-dark ml-auto' routerLink='/article/new'>New</a>
            <a class='btn btn-outline-dark' routerLink='/article/{{(article$ | async).id}}/edit'>Edit</a>
            <a class='btn btn-outline-dark' routerLink='/article/{{(article$ | async).id}}/delete'>Delete</a>
          </div>
        </div>
      </div>
    </div>
    <div class='col'></div>
  </div>
</div>
  